
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2c3e50;
  color: #fff;
  overflow-x: hidden;
}

header {
  background-color: #34495e;
  color: #fff;
  padding: 20px 0;
}


nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeInLeft 0.8s ease-out forwards;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  color: #ff7f50;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search button {
  padding: 10px 20px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #34495e;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #34495e;
  border: 1px solid #2c3e50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  width: 300px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateX(-20px);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card.fade-in {
  animation: fadeInLeft 0.8s ease-out forwards;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: flex-start;
  }

  .search {
      margin-top: 10px; 
  }

  .search input {
      width: 100%; 
  }
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}